extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Jaime Sanchez

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | Hello I live in Southern California. I became interested in Web Development in 2010
            | and finally made the decision to jump in and learn on 2016. I have taken the Intro to Programing Nano Degree course
            | from Udacity and I am currently taking the Full Stack JavaScript course on Team Treehouse. Before coding
            | I worked as a retail manager for Sam's Club and currently own and operate a freight transportation business.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li HTML
          li CSS
          li NPM
          li Git
          li Express
          li Node JS
          li AJAX
          li Jquery
          li Pug


        h6 Contact Info

        ul
          li 562 219-6978
          li Sanchezjaime@protonmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/jaime-sanchez-580b83159/') LinkedIn
        a.button.expanded(href='https://github.com/Sanchezjaime') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
